* {
    font-family: 'Montserrat', sans-serif;
}

body{
    margin: 0;
    padding: 0;
}

a{
    display: flex;
    justify-content: center;
    align-self: center;
    text-decoration: none;
    color: black;
}

.scrollDown{
    justify-self: center;
    align-self: center;
}

.liner{
    background: #ACBEBE;
    padding: 0;
    min-height: 20px;
}

.head{
    background: #ACBEBE;
    padding: 0;
    min-height: 30px;
}

.section {
    min-height: 100vh;
}

#homepage{
    display: flex;
    flex-direction: column;
    background: #efefef;
    justify-content: space-around;
    min-height: 100vh;
   
}

.hero{
    display: flex;
    justify-content: center; 
    align-content: center;
}

#scroll{
  
}

.title{
   align-self: flex-start;
   padding: 0px 0px 0px 10px;
}

#aboutpage{
    display: flex;
    min-height: 100vh;
    justify-content: space-between;
    flex-direction: column;
}
.logo{
    /* justify-content: flex-start; */
    padding: 0px 0px 0px 15px;
    align-self: flex-start;
}

#techstack{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

#portfolio{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;
}

#contact{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 100vh;

}

.link{
    display: flex;
    justify-self: center;
    align-self: center;
    font-weight: bold;
}


.container-list{
    display: flex;
    justify-content: space-around;
}



#form{
    justify-self: center;
    align-self: center;
    padding: 0px 0px 10px 0px;
}



.header-title {
    text-align: center;
}



